/* TEXT STYLES */


h1{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 4rem;
    font-weight: 600;
    font-style: normal;
    margin-top: -1.4rem;
}

h2{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 3rem;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 3rem;
}

p{
    font-family: "DM Mono", monospace;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

a{
    text-decoration: none;
    color: #000;
}




.projectContainer{

    
    
    h1, p, ul, code{
        font-family: "IBM Plex Mono", monospace;
        padding: 0;
    }

    h2, h3{
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        padding: 0;
    }

    p, ul, code{
        font-size: 1.2rem;
        font-weight: 400;
        margin-left: 6vw;
        margin-bottom: 3rem;
        line-height: 1.2rem;
    }

    h1{
        font-size: 4rem;
        font-weight: 600;
        font-style: normal;
        margin-top: 4rem;
        margin-bottom: 1rem;
    }

    h2{
        font-size: 2rem;
        font-weight: 600;
        margin-top: 4rem;        
        margin-bottom: 1.5rem;
    }

    h3{
        font-size: 1.5rem;
        margin-bottom: 3rem;
        line-height: 1.6rem;
    }

    ul{
        list-style-type: disc;
    }

    li{
        margin-top: .5rem;
    }        

    span{
        font-weight: 700;
        line-height: 1.8rem;
    }

    code {
        word-break: break-all;
    }

    

}

/* UNIVERAL STRUCTURAL ELEMENTS */

html {
    background-color: #d9d4d4;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

body {
    display: flex;
    gap: 5vw;
    margin: 0vh 5vw;
    min-height: 400px; 

} 


footer {
    min-height: 60px;
    bottom: 0px;
} 

.dropdown {
    width: 100%;
    /* flex-direction: column; */
    /* align-items: flex-end; */
}

.navBar {
    top: 0;
    padding-top: 10vh;
    position: sticky;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    width: 100px;
    box-sizing: border-box;

}

.hbmenu {
    display: none;
}



/* 
.dropdown:hover .dropdownContents {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.logo {
    position: relative;
    margin-bottom: -11px; 
    margin-top: -6px;
}

.navButton {
    text-decoration: none;
    color: black;
    font-family: "DM Mono", monospace;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    background-color: none;
    justify-content: flex-end;
    box-sizing: border-box;
    height: 5rem;
    /* margin-bottom: -2px;  */

    h3 {
        text-align: right;
    }
}

.navButton:hover {
    background-color: rgb(119, 107, 2);
}

.dropdownContents {
    opacity: 0;
    display: block;
    overflow: hidden;
    max-height: 0px;
    box-sizing: border-box;
    border: 1px solid black;

    transition: 
        opacity 0.5s ease 0.5s,
        max-height 0.5s ease;
    
}


.dropdownContents[aria-expanded = 'true']{
    display: block;
    opacity: 1;
    max-height: 20px;
    border: 1px solid black;

    transition: 
        max-height 0.5s ease 0.5s,
        opacity 0.5s ease;

} 



/* LANDING PAGE SPECIFIC */

main {
    padding-top: 10vh;
    min-width: 0;
    max-width: 1250px;
    /* overflow: hidden; */

}

.title {
    padding: 0 0 8vh 0;

}

.projectCard {
    height: 75vh;
    width: 100%;
    justify-self: center;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10vh;
    overflow: hidden;
}

.projectCard .image-container{
    flex-grow: 0;
    flex-shrink: 0;
}

.projectCard img {
    height: 100%;
    object-fit: contain;
}

.projectButton {
    text-decoration: none;
    color: black;
    font-family: "DM Mono", monospace;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    height: 5rem;
    margin-bottom: -2px; 
}

.projectButton:hover {
    color: white;
    background-color: #232323;
}



/* GALLERY SPECIFIC */
.gallery {
    display: flex;
    flex-wrap: wrap; 
    overflow: visible;
}

.gallery-item {
    flex-grow: 1; 
    box-sizing: border-box;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;}

.gallery-item:hover img {
    transform: scale(1.1); /* Optional: zoom effect on hover */
}

iframe {
    /* width: auto; */
}



/* Project Page Specific */



.listContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

    ul {
        /* margin: 0; */
    }
}

ul {
    flex: 1;
}

li {
    overflow-wrap: break-word;
}

.projectContainer .imgContainer{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.imgContainer a{
    flex: 1 0 250px;
    position: relative; /* Establish a positioning context */
    display: inline-block; /* Adjust based on layout needs */
}

a img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.imgContainer .overlay{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #00000068;

}

.imgContainer a .overlay{
    opacity: 0;    
    transition: opacity 0.3s ease-out;
}

.imgContainer a:hover .overlay{
    opacity: 1;
}

.overlay p{
    color: #e3e3e3;
    padding: 0;
    margin: 0;
}

.text-container{
    padding: 6vh 5vw 8vh;
    overflow: visible;
    min-height: 100px;
    flex: 1;
    background-color: #d9d4d4;
}

.imgText {
    display: block;
    margin-bottom: 3rem;
    overflow: hidden;

    .imgContainer{
        float: left;
        width: 50%;
        margin-right: 30px;
        margin-bottom: 20px;
    }
}

video {
    margin: 1rem 0 1rem;
}



.iframe-container {
    display: flex;
    height: 650px;
  }

  .iframe-container iframe {
    flex: 1 1 auto;
  }

  .iframe-container.twoIframes iframe:first-child{
    flex: 1 1 64%;
  }
  
  .iframe-container.twoIframes iframe:last-child{
    flex: 1 1 auto;
  }
  
  iframe {
    border: none;
  }
  


/* Bio Page */

.bio{
    a:hover{
        background-color: #000;
        color: #d9d4d4;;
    }
}

.profilePic {
    float: left; 
    width: 100px;
    margin: 0 30px 30px 0;
}







/* Mobile Structual Elements */

@media (max-width: 1000px){

    body {
        display: block;
        margin: 0;
    }

    nav {
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: #d9d4d4;

    }

    
    .navBar {
        padding: 0;
        margin-top: 20px;
        margin-left: 10px;
        width: auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        box-sizing: border-box;
        position: relative;
        top: 0;
    }

    .hbmenu {
        display: flex;
        width: 43.5px;
        height: 100%;
        border: none;
        /* box-sizing: border-box; */
        /* aspect-ratio: 1 / 1; */
        background-color:rgba(0, 0, 0, 0);
        padding: 0;
    }

    .hamburger {

    }

    .hbmenu .line {
        transform: translateY(0);
        transform-origin: center;
        transition: 
            transform 0.5s ease 0.5s,
            rotate 0.5s ease ;
    }

    .hbmenu[aria-expanded = 'true']{

        .line {
            transform: translateY(0);
            transition: 
                transform 0.5s ease,
                rotate 0.5s ease 0.5s;
        }
        .top  {
            transform: translateY(15px);
            rotate: 45deg;
        }
        .bottom  {
            transform: translateY(-15px);
            rotate: -45deg;
        }
    } 

    
    .navButtons {
        opacity: 0;
        display: block;
        overflow: hidden;
        max-height: 0px;
        background-color: #d9d4d4e7;
        border: 1px solid black;
        position: absolute;
        right: 0;
        top: 100%;

        transition: 
            opacity 0.5s ease 0.5s,
            max-height 0.5s ease 
        ;
    }


    .navButtons[aria-expanded = 'true'] {
        opacity: 1;
        max-height: 20px;

        transition: 
            max-height 0.5s ease 0.5s,
            opacity 0.5s ease;
    }

   
    .dropdown {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .navButton {
        /* display: none; */

        /* min-width: 90px; */
        padding: 1rem 2rem;

        height: 100%;
        /* padding: 0 2rem; */
    }

    



    .dropdownContents {
        opacity: 0;
        /* visibility: hidden; */
        display: block;
        overflow: hidden;
        max-height: 0px;
        
        box-sizing: border-box;
        margin: 0 0 5px 5px;


        

        transition: 
            opacity 0.5s ease 0.5s,
            max-height 0.5s ease,
        
            margin 0.5s ease;
    }


    .dropdownContents[aria-expanded = 'true']{
        display: block;
        /* visibility: visible; */
        opacity: 1;
        max-height: 20px;
        margin: 0 0 5px 5px;
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
        border-right: none;


        transition: 
            max-height 0.5s ease 0.5s,
            opacity 0.5s ease,

            margin 0.5s ease;
    } 

    main {
        padding-top: 5vh;

        width: auto;
        margin: 0vh 5vw;

    }

    .graphic {
        padding-top: 4rem;
    }

}

@media (max-width: 700px){

    html, body {
        overflow: hidden;
        /* height: 100%; */
    }

    body {
        /* display: block; */
        /* overflow: visible; */
        margin-left: 0;
        margin-right: 0;
    }

    

    main {
        padding-top: 0;
        height: calc(100dvh - 64px);
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
        margin: 0;
    }

    h1 {
        font-size: 2.5rem;
        margin-top: -0.8rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.5rem;
    }

    .projectContainer{

        h1, h2, h3 {
            margin: 0 8vw;
        }
    
        p, ul{
            font-size: 1.1rem;
            margin: 0 12vw;
        }
    
        h1{
            font-size: 3rem;
            margin-bottom: 1.5rem;
        }
    
        h2{
            margin-top: 3rem;
            margin-bottom: 1.33rem;
        }
    
        h3{
            font-size: 1.2rem;
            margin-bottom: 2rem;
            line-height: 1.3rem;
        }
    
        ul{
            margin-bottom: 2rem;
        }
    
        span{
            font-weight: 700;
        }
    }

    

    .navButton:hover{
        background: none;
    }

    
    .title {
        position: relative;
        padding: 6vh 8vw;
        scroll-snap-align: start;
    }

    .projectCard {
        position: relative;
        /* height: calc(100vh - 64px); */
        height: calc(100dvh - 64px);
        width: 100vw;
        margin-bottom: 0;
        scroll-snap-align: start;
        scroll-snap-type: always;
        overflow: hidden;
    }

    .projectCard .image-container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .image-container img {
        object-fit: cover;
        flex: 1;
    }

    .projectCard .text-container{
        position: absolute;
        bottom: 0;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0) 100%);
        color: white;
        width: 100%;
        z-index: 2;
        box-sizing: border-box;
        padding-top: 10vh;
    }

    
    .projectButton {
        display: inline-flex;
        background-color: white;
        color: #232323;
        padding: 0 2rem;
    }

    .projectButton:hover {
        background-color: #ffffff00;
    }

    .overlay{
        /* display: none; */

        p {
            font-size: 0.75rem;
            margin: 0;
        }
    }

    .listContainer{
        display: block;
    }

    .imgContainer {
        margin-bottom: 3rem;
    }

    .imgContainer a{
        flex: 1 1 100%;
    }

    .imgText {
        .imgContainer{
            display: block;
            float: none;
            width: 100%;
            margin-bottom: 3rem;
        }
    }

    .bio {
        padding: 0 10px;

        p {
            padding-top: 20px;
        }


    }

    .gallery {
        display: block;
        flex-wrap: wrap; 
        overflow: visible;
    }
    
    .gallery-item {
        width: 100%;
    }
    
    .gallery-item img {
        width: 100%;
        height: auto;
        display: block;}
    
    .gallery-item:hover img {
        transform: scale(1.1); /* Optional: zoom effect on hover */
    }
    
    .iframe-container {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
      }
    
      iframe {
        width: 100%;
        height: 40vh;
      }

      iframe:last-child{
        height: 100vh;
        width: 40vh;
      }
    




}


