/* TEXT STYLES */

.inspiration h2 {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: white;
}

h1{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 4rem;
    font-weight: 600;
    font-style: normal;
    margin-top: -20px;
}

h2{
    padding-bottom: 5vh;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 3rem;
    font-weight: 600;
    font-style: normal;
}

p{
    font-family: "DM Mono", monospace;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2rem;
}

.text-container a:hover h3{
    color: white;
    background-color: #232323;
}

.projectContainer h1{
    font-family: "IBM Plex Mono", monospace;
    font-size: 60px;
    font-weight: 600;
    font-style: normal;
    padding-bottom: 40px;
}

.projectContainer h2{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 20px;
}

.projectContainer h3{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 22px;
    font-style: normal;    
    padding-bottom: 40px;
}

.projectContainer p{
    font-family: "IBM Plex Mono", monospace;
    font-weight: 20;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 20px;
}

.projectContainer ul{
    font-family: "IBM Plex Mono", monospace;
    font-weight: 20;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 20px;
    list-style-type: disc;
}

.projectContainer span{
    font-weight: 700;
}


/* UNIVERAL STRUCTURAL ELEMENTS */

html {
    background-color: #d9d4d4;
    font-family: sans-serif;
}

body {
    display: flex;
    gap: 5vw;
    margin: 0vh 5vw;
    min-height: 400px; 

} 


footer {
    min-height: 60px;
    bottom: 0px;
} 

.dropdown {
    width: 100%;
    flex-direction: column;
    /* align-items: flex-end; */
}

.navBar {
    top: 10vh;
    position: sticky;
    align-items: start;
    display: flex;
    flex-direction: column;
    width: 100px;
}

.dropdownContents {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-out;
    background-color: rgb(76, 76, 133);
}

/* 
.dropdown:hover .dropdownContents {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.logo {
    position: relative;
    margin-bottom: -11px; 
    margin-top: -6px;
}

.navButton {
    text-decoration: none;
    color: black;
    font-family: "DM Mono", monospace;
    font-size: 15px;
    display: flex;
    text-align: right;
    align-items: center;
    background-color: none;
    width: 100%;
    justify-content: right;
    height: 69px;
    box-sizing: border-box;
    margin-bottom: -2px; 
}

.navButton:hover {
    background-color: rgb(119, 107, 2);
    
}

/* LANDING PAGE SPECIFIC */

main {
    padding-top: 10vh;
    overflow: hidden;
}

.title {
    padding: 0 0 8vh 0;

}

.projectCard {
    height: 75vh;
    width: 100%;
    justify-self: center;
    background-color: green;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10vh;
    overflow: hidden;
}

.projectCard .image-container{
    flex-grow: 0;
    flex-shrink: 0;
}

.projectCard img {
    height: 100%;
    object-fit: contain;
}







/* Project Page Specific */

.projectContainer {
    width: 100%;
}

.listContainer {
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
}

ul {
    flex: 1;
}

li {
    overflow-wrap: break-word;
}

.projectContainer .imgContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
}



.imgContainer a{
    flex: 1 0 48%;
    position: relative; /* Establish a positioning context */
    display: inline-block; /* Adjust based on layout needs */
}

a img {
    width: 100%;
    object-fit:cover;
}

.imgContainer .overlay{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #00000068;
}

.overlay p{
    color: #e3e3e3;
    padding: 0;
}

.text-container{
    padding: 6vh 5vw 8vh;
  
    overflow: visible;
    min-height: 100px;
    flex: 1;
    background-color: #d9d4d4;
}

/* Mobile Structual Elements */

@media (max-width: 1000px){

    h3{
        text-align: center;
        }

    body {
        display: block;
    }

    .navBar {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .navButtons {
        display: flex;
        /* gap: 5vw; */
        width: 40vw;
        /* background-color: orangered; */
        /* align-items: flex-end; */
    }

    .navButton {
        flex: 1 1 auto;
        justify-content: center;
        /* align-self: stretch; */
    }

    
    
    .dropdownContents {
        display: none;
    }

    

    

    .main {
        width: 100%;
    }

}

@media (max-width: 700px){

    html {
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.5rem;
    }

    body {
        display: block;
        overflow: visible;
        margin-left: 0;
        margin-right: 0;
    }

    nav {
        position: sticky;
        top: 0;
        z-index: 10;
    }

    .navBar {
        padding-top: 0;
        /* height: 20vh; */
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        background-color: #d9d4d4;
    }

    .navButtons {
        display: none;
        gap: 10vw;
    }

    .navButton {
        width: auto;
        background-color: white;
    }

    main {
        overflow: visible;
        padding-top: 0;
    }

    .title {
        /* display: none; */
        position: relative;
        padding: 7vh 8vw;
        scroll-snap-align: end;
        z-index: 20;
    }

    .projectCard {
        position: relative;
        height: calc(100vh - 44px);
        width: 100vw;
        margin-bottom: 0;
        scroll-snap-align: end;
        scroll-snap-type: always;
        overflow: hidden;
    }

    .projectCard .image-container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .image-container img {
        object-fit: cover;
        flex: 1;
    }

    .projectCard .text-container{
        position: absolute;
        bottom: 0;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0) 100%);
        color: white;
        width: 100%;
        z-index: 2;
        box-sizing: border-box;
        padding-top: 10vh;
    }


}

/* Bio Page */

.bio {
    margin-top: 6vh;
    padding-top: 8px;

}

.profilePic {
    float: left; 
    width: 100px;
    margin: 0 30px 30px 0;
}










