/* TEXT STYLES */

.inspiration h2 {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: white;
}

h1{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 4rem;
    font-weight: 600;
    font-style: normal;
    margin-top: -20px;
}

h2{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 3rem;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 3rem;
}

p{
    font-family: "DM Mono", monospace;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}


.projectContainer{

    
    
    h1, p, ul{
        font-family: "IBM Plex Mono", monospace;
        padding: 0;
    }

    h2, h3{
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        padding: 0;
    }

    p, ul{
        font-size: 1.2rem;
        font-weight: 400;
        margin-left: 6vw;
        margin-bottom: 3rem;
        line-height: 1.2rem;
    }

    h1{
        font-size: 4rem;
        font-weight: 600;
        font-style: normal;
        margin-top: 4rem;
        margin-bottom: 1rem;
    }

    h2{
        font-size: 2rem;
        font-weight: 600;
        margin-top: 4rem;        
        margin-bottom: 1.5rem;
    }

    h3{
        font-size: 1.5rem;
        margin-bottom: 3rem;
        line-height: 1.6rem;
    }

    ul{
        list-style-type: disc;
    }

    li{
        margin-top: .5rem;
    }        

    span{
        font-weight: 700;
        line-height: 1.8rem;
    }





}

/* UNIVERAL STRUCTURAL ELEMENTS */

html {
    background-color: #d9d4d4;
    font-family: sans-serif;
}

body {
    display: flex;
    gap: 5vw;
    margin: 0vh 5vw;
    min-height: 400px; 

} 


footer {
    min-height: 60px;
    bottom: 0px;
} 

.dropdown {
    width: 100%;
    flex-direction: column;
    /* align-items: flex-end; */
}

.navBar {
    top: 10vh;
    position: sticky;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    width: 100px;
    box-sizing: border-box;

}

.dropdownContents {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-out;
    background-color: rgb(76, 76, 133);
}

/* 
.dropdown:hover .dropdownContents {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.logo {
    position: relative;
    margin-bottom: -11px; 
    margin-top: -6px;
}

.navButton {
    text-decoration: none;
    color: black;
    font-family: "DM Mono", monospace;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    background-color: none;
    justify-content: flex-end;
    height: 5rem;
    margin-bottom: -2px; 
}

.navButton:hover {
    background-color: rgb(119, 107, 2);
}



/* LANDING PAGE SPECIFIC */

main {
    padding-top: 10vh;
    overflow: hidden;
}

.title {
    padding: 0 0 8vh 0;

}

.projectCard {
    height: 75vh;
    width: 100%;
    justify-self: center;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10vh;
    overflow: hidden;
}

.projectCard .image-container{
    flex-grow: 0;
    flex-shrink: 0;
}

.projectCard img {
    height: 100%;
    object-fit: contain;
}

.projectButton {
    text-decoration: none;
    color: black;
    font-family: "DM Mono", monospace;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    height: 5rem;
    margin-bottom: -2px; 
}

.projectButton:hover {
    color: white;
    background-color: #232323;
}







/* Project Page Specific */



.listContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

    ul {
        /* margin: 0; */
    }
}

ul {
    flex: 1;
}

li {
    overflow-wrap: break-word;
}

.projectContainer .imgContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.imgContainer a{
    flex: 1 0 48%;
    position: relative; /* Establish a positioning context */
    display: inline-block; /* Adjust based on layout needs */
}

a img {
    width: 100%;
    object-fit:cover;
}

.imgContainer .overlay{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #00000068;
}

.overlay p{
    color: #e3e3e3;
    padding: 0;
    margin: 0;
}

.text-container{
    padding: 6vh 5vw 8vh;
    overflow: visible;
    min-height: 100px;
    flex: 1;
    background-color: #d9d4d4;
}

.imgText {
    display: block;
    margin-bottom: 3rem;
    overflow: hidden;

    .imgContainer{
        float: left;
        width: 50%;
        margin-right: 30px;
        margin-bottom: 20px;
    }
}

video {
    margin: 1rem 0 1rem;
}



/* Bio Page */



.profilePic {
    float: left; 
    width: 100px;
    margin: 0 30px 30px 0;
}







/* Mobile Structual Elements */

@media (max-width: 1000px){

    body {
        display: block;
    }

    .navBar {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .navButtons {
        display: flex;
        /* gap: 5vw; */
        width: 30vw;
        /* background-color: orangered; */
        /* align-items: flex-end; */
    }

    .dropdown {
        flex: 1;
    }

    .navButton {
        justify-content: center;
        font-size: 1.1rem;
        flex: 1;
    }

    .dropdownContents {
        display: none;
    }

    .main {
        width: 100%;
    }

}

@media (max-width: 700px){

    html, body {
        overflow: hidden;
        /* height: 100%; */
    }

    body {
        /* display: block; */
        /* overflow: visible; */
        margin-left: 0;
        margin-right: 0;
    }

    

    main {
        padding-top: 0;
        height: calc(100dvh - 64px);
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.5rem;
    }

    .projectContainer{
        

        h1, h2, h3 {
            margin: 0 8vw;
        }
    
        p, ul{
            font-size: 1.1rem;
            margin: 0 12vw;
        }
    
        h1{
            font-size: 3rem;
            margin-bottom: 1.5rem;
        }
    
        h2{
            margin-top: 3rem;
            margin-bottom: 1.33rem;
        }
    
        h3{
            font-size: 1.2rem;
            margin-bottom: 2rem;
            line-height: 1.3rem;
        }
    
        ul{
            margin-bottom: 2rem;
        }
    
        span{
            font-weight: 700;
        }
    }

    

    nav {
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: #d9d4d4;

    }

    .navBar {
        padding-top: 20px;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        box-sizing: border-box;
    }

    .navButtons {
        min-width: 180px;
        /* width: 100%; */
        /* flex: 0; */
    }

    .navButton {
        /* min-width: 90px; */
        height: 100%;
        /* padding: 0 2rem; */
    }

    

    .title {
        /* display: none; */
        position: relative;
        padding: 7vh 8vw;
        scroll-snap-align: start;
        z-index: 20;    
    }

    .projectCard {
        position: relative;
        /* height: calc(100vh - 64px); */
        height: calc(100dvh - 64px);
        width: 100vw;
        margin-bottom: 0;
        scroll-snap-align: start;
        scroll-snap-type: always;
        overflow: hidden;
    }

    .projectCard .image-container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .image-container img {
        object-fit: cover;
        flex: 1;
    }

    .projectCard .text-container{
        position: absolute;
        bottom: 0;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0) 100%);
        color: white;
        width: 100%;
        z-index: 2;
        box-sizing: border-box;
        padding-top: 10vh;
    }

    .projectContainer {
        /* margin: 10vw;    */
    }


    
    .projectButton {
        display: inline-flex;
        background-color: white;
        color: #232323;
        padding: 0 2rem;
    }

    .projectButton:hover {
        background-color: #ffffff00;
    }

    .overlay{
        display: none;
    }

    .listContainer{
        display: block;
    }

    .imgContainer {
        margin-bottom: 3rem;
    }

    .imgContainer a{
        flex: 1 1 100%;
    }

    .imgText {
        .imgContainer{
            display: block;
            float: none;
            width: 100%;
            margin-bottom: 3rem;
        }
    }

    .bio {
        padding-top: 20px;
    }
}











