
/* Bio Page */


main {
    padding-top: 10vh;
    min-width: 0;
    max-width: 1250px;
    /* overflow: hidden; */

}

.bio{
    a:hover{
        background-color: #000;
        color: #d9d4d4;;
    }
}

.profilePic {
    float: left; 
    width: 100px;
    margin: 0 30px 30px 0;
}

