/* img {
    width: 100%;
    display: block;
}
video {
    width: 100%;
    height: auto;
}
.imgRow {
    display: flex;
    flex-wrap: wrap;
}

.imgRow div {
    flex-basis: 200px;
    min-width: 100px;
}  

*/

.gallery {
    display: flex;
    flex-wrap: wrap; 
}

.image-container{
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    display: block;
}


/* .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.gallery img {
    width: 100%;
    height: auto;
    display: block;
    aspect-ratio: 1 / 1;
    object-fit: contain;
} */
