main {
    padding-top: 10vh;
    min-width: 0;
    max-width: 1250px;
    /* overflow: hidden; */

}

.section {
        padding-bottom: var(--spacing-l);
        :last-child {
            margin-bottom: 0 !important;
        }
    }


.projectContainer{

    h1, h2, h3 {
        font-family: "Inter", sans-serif;
        font-weight: 300;
    }

    ul, code{
        font-family: "IBM Plex Mono", monospace;
    }

    p {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
    }

    ul, code{
        font-size: 1rem;
        font-weight: 400;
        margin-left: 6vw;
        margin-bottom: var(--spacing-m);
        line-height: 1.2rem;

        b {
            display: inline-block;
            margin-bottom: 0.7rem;
        }
    }

    h1, h2{
        font-size: 4rem;
        font-weight: 600;
        margin-bottom: 1.2rem;
        line-height: 4.4rem;
    }

    h2 {
        margin-bottom: var(--spacing-m);
    }


    h3 {
        font-size: 2rem;
        font-weight: 600;
        line-height: 2.2rem;
        margin-bottom: 2rem;
    }

    p {
        font-size: 1.2rem;
        font-weight: 300;
        margin-bottom: var(--spacing-m);
        line-height: 1.5rem;
    }

    p, ul {
        max-width: 800px;

    }

    .bullet {
        list-style-type: disc;
    }

    .noBullet {
        list-style-type: none;
    }

    li{
        margin-bottom: .7rem;
    }        

    b {
        font-weight: 700;
        /* line-height: 1.8rem; */
    }

    code {
        word-break: break-all;
    }

    


    /* IMAGES */

    .hero {
        width: auto;
        margin-bottom: 4rem;
        
        img {
            width: 100%;
        }
    }
    
    /* gallery */

    .gallery {
        display: flex;
        flex-wrap: wrap; 
        overflow: visible;
        margin-bottom: calc(var(--spacing-m) + 1rem);
    }

    .gap {
        gap: 20px;
    }

    .gallery img {
        width: 100%;
        height: auto;
        display: block;
    }

    .gallery img:hover {
            transform: scale(1.1); /* Optional: zoom effect on hover */
        }
    

    .gallery-item {
        flex-grow: 1; 
        box-sizing: border-box;
    }

    /* .gallery-item img {
        width: 100%;
        height: auto;
        display: block;} */

    .gallery-item:hover img {
        transform: scale(1.1); /* Optional: zoom effect on hover */
    }

    /* imgContainer */

    .imgContainer {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        gap: 20px;
        /* padding-top: 1rem; */
        margin-bottom: calc(var(--spacing-m) + 1rem);

        
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
    }

   .flex{
        width: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        
        a{
            flex: 1 0 250px;
            position: relative;
            display: inline-block;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }


    /* 
    .contain {
        object-fit: contain;
        object-position: top;
    } */


    .scroll {
        aspect-ratio: 5/3;
        overflow-y: scroll;

        img {
            display: block;
            object-position: top;
            width: 100%;
            height: auto !important;
        }
    }

   




    .listContainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

        ul {
            /* margin: 0; */
        }
    }

    ul {
        flex: 1;
    }

    li {
        overflow-wrap: break-word;
    }



    .imgContainer .overlay{
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: #00000068;

    }

    .imgContainer a .overlay{
        opacity: 0;    
        transition: opacity 0.3s ease-out;
    }

    .imgContainer a:hover .overlay{
        opacity: 1;
    }

    .overlay p{
        color: #e3e3e3;
        padding: 0;
        margin: 0;
    }



    .imgText {
        display: flex;
        margin-bottom: 3rem;
        overflow: hidden;

        .imgContainer{
            float: left;
            width: 50%;
            margin-right: 30px;
            margin-bottom: 20px;
        }
    }

    imgText > * {
        flex: 1 1 250px;
    }


    video {
        width: 100%;
        margin-bottom: var(--spacing-m);
    }

    .iframe-container {
        display: flex;
        height: 650px;
    }

    .iframe-container iframe {
        flex: 1 1 auto;
    }

    .iframe-container.twoIframes iframe:first-child{
        flex: 1 1 64%;
    }
    
    .iframe-container.twoIframes iframe:last-child{
        flex: 1 1 auto;
    }
    
    iframe {
        border: none;
    }



}





@media (max-width: 700px){

  .projectContainer{

        h1, h2, h3 {
            margin: 0 8vw;
        }
    
        p, ul{
            font-size: 1.1rem;
            margin: 0 12vw;
        }
    
        h1{
            font-size: 3rem;
            margin-bottom: 1.5rem;
        }
    
        h2{
            margin-top: 3rem;
            margin-bottom: 1.33rem;
        }
    
        h3{
            font-size: 1.2rem;
            margin-bottom: 2rem;
            line-height: 1.3rem;
        }
    
        ul{
            margin-bottom: 2rem;
        }
    
        span{
            font-weight: 700;
        }
    
        .overlay{
            /* display: none; */
    
            p {
                font-size: 0.75rem;
                margin: 0;
            }
        }
    
        .listContainer{
            display: block;
        }
    
        .imgContainer {
            margin-bottom: 3rem;
        }
    
        .imgContainer a{
            flex: 1 1 100%;
        }
    
        .imgText {
            display: block;
            .imgContainer{
                /* display: block; */
                /* float: none; */
                width: 100%;
                margin-bottom: 3rem;
            }
        }
    
        .bio {
            padding: 0 10px;
    
            p {
                padding-top: 20px;
            }
    
    
        }
    
        /* .gallery {
            display: block;
            flex-wrap: wrap; 
            overflow: visible;
        }
        
        .gallery-item {
            width: 100%;
        }
        
        .gallery-item img {
            width: 100%;
            height: auto;
            display: block;}
        
        .gallery-item:hover img {
            transform: scale(1.1); 
        } */

        /* .gallery {
            display: flex;
            gap: 16px;
            align-items: stretch; 
            flex-wrap: nowrap;    
        }

            
        .gallery .gallery-item {
            display: block;      
            
        }

        .gallery .gallery-item img {
            width: 100%;
            height: 100%;         
            display: block;
            object-fit: cover;    
        } */

        .gallery {
            display: block;       /* must be flex */
            flex-wrap: wrap;     /* allow multiple rows */
            gap: 16px;           /* optional spacing */
        }

        .gallery > * { /* the direct children: anchors/divs etc */
            display: block;
          
            /* overflow: hidden; */
        }

            .gallery > * img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover; /* or remove if you don't want cropping */
        }

        
        .iframe-container {
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            }
        
            iframe {
            width: 100%;
            height: 40vh;
            }
    
            iframe:last-child{
            height: 100vh;
            width: 40vh;
            }
        
    }


}