

#sliderContainer {
    width: 100%; /* Slider width */
    height: 6px; /* Slider height */
    background-color: black; 
    /**background: linear-gradient(to right, green, red); /* Adjust colors as needed */

    position: relative; /* Needed for absolute positioning of the thumb */
    /* border: 6px solid black; */
    

}

#sliderThumb {
    width: 20px; /* Thumb width */
    height: 20px; /* Thumb height */
    background: white;
    /* background: conic-gradient(red 0deg 120deg, green 120deg 240deg, blue 240deg 360deg); */
    position: absolute; /* Position relative to the slider container */
    top: -11px; /* Adjust to vertically center */
    cursor: pointer; /* Change cursor to indicate draggable */
    border: 4px solid black;
    /* border-radius: 50%; Make the thumb circular */ 
    
}

.contents {
    display:none;
}

.contents:first-child {
    display: block;
}

#labelContainer {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    writing-mode: vertical-lr;
    width: 100%;
    margin-bottom: 20px;
}

.label {
    position: relative;
}


.label > span {
    position: absolute;
    bottom: 0; /* Align the child to the bottom edge of its parent */
    transform: translate(-60%) rotate(180deg);    /* transform: rotate(180 deg); */
    white-space: nowrap;
    font-size: 16px;
    cursor: pointer;

}



.wrapper {
    min-height: 500px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}
